relic-all.c
target-*
*.o

*/x64/
*.vcxproj*
.vs/
*.sln
*.dir/
x64/

*/win32/
win32/

*/CMakeCache.txt
CMakeCache.txt

*/Makefile
Makefile
*/CMakeFiles
CMakeFiles

lib/
bin/

CMakeSettings.json
Testing/
install_manifest.txt

src/low/fiat/*.c
mbed-os.lib
mbed-os
.mbed
BUILD/
__pycache__/
mbed_settings.py
